body {
  background-color: #eeecec;
}

.versionbits .mdl-layout__drawer-button {
  position: static;
}

.versionbits .mdl-layout__header,
.versionbits .mdl-layout__drawer-button,
.versionbits .mdl-layout__header-row .mdl-navigation__link {
  color: #333;
}

.deployment-card {
  height: 0;
  min-height: 170px;
}
.deployment-started {
  height: 355px;
}
.deployment-card > .mdl-card__title h2 {
  margin: 0;
}
.deployment-card > .mdl-card__title:first-child h2 {
  margin-top: 22px;
}
.deployment-card > .mdl-card__media {
  height: 220px;
  background-color: rgb(244,67,54);
}
.deployment-card > .mdl-card__media > .chart {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 220px;
}
.deployment-card > .mdl-card__supporting-text > .stat label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  display: block;
  margin-bottom: 2px;
}
.deployment-card > .mdl-card__supporting-text > .stat.support > .value {
  font-size: 30px;
}
.deployment-card > .mdl-card__supporting-text > .stat.support > .unit {
  font-size: 20px;
}

.side-card {
  min-height: 170px;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}
@media (max-width: 839px) {
  .mdl-grid .mdl-grid {
    width: 100%;
  }
}
.side-card > .mdl-card__supporting-text > h3 {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
}
.side-card .mdl-list {
  margin-top: 0;
}

.blockchain-card .height {
  margin: 10px 0;
  display: block;
}
.blockchain-card code.hash {
  line-height: 16px;
  background-color: #f5f5f5;
  border: 1px solid #f0f0f0;
  overflow-wrap: break-word;
  padding: 2px;
  display: block;
  border-radius: 1px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.ct-series-a .ct-line {
  stroke: white;
  stroke-width: 3px;
}
.ct-targetline {
  stroke-width: 2px;
  stroke-dasharray: 7px;
  stroke: rgba(255,255,255,0.75);
}
.ct-targetline-label {
  fill: rgba(255,255,255,0.66);
  font-family: "Helvetica","Arial",sans-serif;
  text-transform: uppercase;
  font-size: 9px;
  font-weight: 500;
}
.ct-series-a .ct-area {
  fill: rgba(255,255,255,0.4);
  fill-opacity: 1;
}

.mdl-grid .mdl-grid {
  margin: 0;
}
.mdl-grid .mdl-grid .mdl-cell:first-child {
  margin-top: 0;
}
