.versionbits .mdl-layout__drawer-button {
  position: static;
}

.versionbits .mdl-layout__header,
.versionbits .mdl-layout__drawer-button,
.versionbits .mdl-layout__header-row .mdl-navigation__link {
  color: #333;
}

.deployment-card > .mdl-card__media {
  height: 220px;
  background-color: rgb(244,67,54);
  z-index: 2;
}
.deployment-card > .mdl-card__title > h2 {
  z-index: 20;
  /*text-shadow: 0 0 2px rgba(0,0,0,0.5);*/
  line-height: 34px;
}
.deployment-card > .mdl-card__media > .chart {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}
.deployment-card > .mdl-card__supporting-text > .stat label {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 11px;
  display: block;
  margin-bottom: 2px;
}
.deployment-card > .mdl-card__supporting-text > .stat > .value {
  font-size: 22px;
}

.ct-series-a .ct-line {
  stroke: white;
}
.ct-targetline {
  stroke-width: 3px;
  stroke-dasharray: 7px;
}
.ct-targetline, .ct-targetline-label {
  stroke: rgba(255,255,255,0.75);
}
.ct-targetline-label {
  fill: rgba(255,255,255,0.9);
  stroke: none;
  font-family: "Helvetica","Arial",sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
}
